
// Pipeline Config:
$HOSTNAME='default'
params.run_Download_Genomic_Sources = "yes" //* @dropdown @options:"yes", "no" 
//params.Ref
params.custom_fastq_file = "" //* @input @single_file @optional
params.genome_dir = "/nl/umw_biocore/ref/" //* @input
params.star_version = "STAR-2.7.1a" //* @input
//params.star_args
//params.barcode_num
//params.parameters